*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial,sans-serif;
background:#FFF8F5;
color:#333;

}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px;

background:#F7D7DF;

}

.logo{

display:flex;
align-items:center;
gap:10px;

}

.logo h1{

font-size:30px;

}

nav{

display:flex;
gap:20px;

}

nav a{

text-decoration:none;

color:#333;

font-weight:bold;

}

.hero{

display:flex;

justify-content:center;

align-items:center;

text-align:center;

height:85vh;

padding:20px;

}

.hero-content{

max-width:700px;

}

.hero h2{

font-size:48px;

margin-bottom:20px;

}

.hero p{

font-size:22px;

line-height:1.7;

margin-bottom:40px;

}

button{

background:#E88CA1;

color:white;

padding:18px 40px;

border:none;

border-radius:50px;

font-size:18px;

cursor:pointer;

transition:0.3s;

}

button:hover{

background:#d96b84;

}
